<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>





<b> *ngFor Demo</b>
<p *ngFor="let user of users; let i = index">
  Row {{i}} : Name: {{user.name}}
</p>

<b>first and last variable demo </b>
<div *ngFor="let user of users; let i = index; let f=first; let l=last;">
  Row {{i}} : Name: {{user.name}}, is first row: {{f}}, is last row: {{l}}
</div>


<b>even and odd variable demo </b>
<div *ngFor="let user of users; let i = index; let e=even; let o=odd;">
  Row {{i}} : Name: {{user.name}}, is even row: {{e}}, is odd row: {{o}}
</div>


<!--
<br/><b>ngFor with component element using *ngFor</b>
<emp-app *ngFor="let user of users" [emp]="user"> </emp-app>

<br/><b>ngFor with component element using template directive </b>
<emp-app template="ngFor let user of users" [emp]="user"> </emp-app>

<br/><b>ngFor with component element using template tag </b>
<template ngFor let-user [ngForOf]="users">
  <emp-app [emp]="user"></emp-app>
</template>
-->
<!--build in pipes-->
<p>The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<p>chaining pipes--> {{ birthday | date | uppercase}}</p>

<h2>Power Booster</h2>
<!--
<p>Super power boost: {{2 | exponentialStrength: 10}}</p>
-->

<body>

</body>
</html>
